<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
	<!-- Restores: System.Activities -->
    <add key="MyGet-UiPath" value="https://www.myget.org/F/uipath/" />
	<!-- Restores: System.Activities.Core.Presentation; System.Activities.ViewModels; System.Activities.Metadata; UiPath.Workflow; UiPath.Workflow.Runtime;  -->
    <add key="UiPath-Internal" value="https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json" />
  </packageSources>
</configuration>